name: Build and Deploy to Server

on:
  push:
    branches:
      - master

env:
  SERVER_USER: sumnic            # ← замени на имя пользователя сервера (например ubuntu)
  SERVER_HOST: 77.222.55.226      # ← замени на IP или домен
  DEPLOY_PATH: /home/sumnic/rodovaya-yarmarka  # ← путь до проекта на сервере

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.vars.outputs.image_tag }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: |
          echo "image_tag=${GITHUB_SHA}" >> $GITHUB_OUTPUT
          echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Build and push Docker images
        run: |

          docker build \
            --build-arg POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} \
            -t sumnic82/ry-backend:$IMAGE_TAG ./apps/backend

          docker push sumnic82/ry-backend:$IMAGE_TAG

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ env.SERVER_HOST }}
          username: ${{ env.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: DEPLOY_PATH,IMAGE_TAG

          script: |
            cd "$DEPLOY_PATH"
            git pull
            # Тег коммита (уникальный)
            IMAGE_TAG=$(git rev-parse HEAD)
            echo "Using image tag: $IMAGE_TAG"
            export IMAGE_TAG

            docker compose -f docker-compose.yml -f docker-compose.prod.yml pull
            docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d --remove-orphans

            # docker compose -f docker-compose.yml -f docker-compose.prod.yml run --rm migrate

            docker image prune -af --filter "until=24h"
